include utils/head.jade
include utils/menu.jade
br
br
br
include utils/headline.jade
br
.container
    .row
        - for(var i=1;i<=numberOfImages;i++)
            .col-md-6
                .thumbnail
                    img(src="/images/" + city + "/" + city + "-" +i+ ".jpg")

include utils/jsIncludes.jade